
.panelDropDown {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.yellowBackground {
    background-color: #ffffcc !important;
}
.yellowBackgroundSelecionado {
    background-color: #ffffcc !important;
}
.grade-funcoes-conta-receber {
    background-color: #ffffcc;
    border-color: #dddddd;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 0 1px 1px;
    clear: none;
    color: #395a7a;
    cursor: default;
    float: right;
    padding: 2px 6px;
    position: absolute;
    width: auto;
    z-index: 50;
}
.btn-border {
    border: 1px solid #ddd !important;
}
.linhaContaReceber {
    cursor: pointer;
}
.linhaContaReceber:hover {
    background-color: #ffffcc !important;
}
#div-acoes-conta-receber .btn .caret {
    margin-left: 10px !important;
}
#div-acoes-conta-receber .btn {
    margin-right: 25px !important;
}
tr.vencido {
    background-color: #fef2f2 !important;
    border-left: 1px solid #fef2f2 !important;
    border-right: 1px solid #fef2f2 !important;
}
.classificacaoContaList {
    background: #e2e7ed none repeat scroll 0 0;
    border-radius: 10px;
    color: #395a7a;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    padding: 4px 10px;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
    width: 15%;
}
.classificacaoContaListCliente {
    background: transparent none repeat scroll 0 0;
    color: #7a8399;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    max-width: 25%;
    overflow: hidden;
    padding: 4px 10px;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}
.classificacaoContaListDescricao {
    background: transparent none repeat scroll 0 0;
    color: #395a7a;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    max-width: 30%;
    overflow: hidden;
    padding: 4px 10px;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}
.listaContaValorQuitado {
    color: #4aba58 !important;
}
.recurrence {
    color: #919dad;
    font-weight: normal;
}
.repeat.act-recurrence-container {
    background-color: #f1f4f9;
    border: 1px solid #c9d3dd;
    border-radius: 3px;
    float: left;
    margin-bottom: 25px !important;
    width: 375px;
}
.repeat-arrow {
    background-image: url("../images/arrow_repeat.png");
    display: block;
    float: right;
    height: 11px;
    position: relative;
    right: 250px;
    top: -11px;
    width: 21px;
}
.repeat-label {
    float: left;
    height: 55px;
    margin-bottom: 13px;
    margin-left: 13px;
    margin-top: 13px;
    width: 160px;
}
.modal-footer-more button.btn.more-options {
    border-radius: 35px;
    float: none;
    height: 35px;
    left: 200px;
    position: absolute;
    top: -18px;
    width: 250px;
}
.modal-footer-more::before, .modal-footer-more::after {
    content: "";
    display: table;
    line-height: 0;
}
.modal-footer-more::after {
    clear: both;
}
.modal-footer-more::before, .modal-footer-more::after {
    content: "";
    display: table;
    line-height: 0;
}
.new-modal .modal-footer-more {
    background-color: #f1f4f9;
    border-top: 1px solid #c9d3dd;
    padding: 28px 9px 25px 28px;
}
.button-more {
    min-height: 40px;
    position: relative;
}
.modal-footer-more {
    background-color: #f5f5f5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #dddddd;
    box-shadow: 0 1px 0 #ffffff inset;
    margin-bottom: 0;
    margin-top: 10px !important;
    padding: 0 10px 10px;
}
.modal-footer-more label {
    font-size: 11px !important;
    margin-top: 0 !important;
}
.modal-footer-more .input-sm {
    font-size: 11px !important;
    font-weight: normal !important;
    padding: 2px 2px 2px 4px !important;
}
.modal-footer-more select.input-sm {
    font-size: 11px !important;
    font-weight: normal !important;
    padding: 5px 2px 2px 4px !important;
}
.modal-footer-more .table td {
    font-size: 11px !important;
    padding: 2px 2px 2px 4px !important;
}
.modal-footer-more .table th {
    font-size: 11px !important;
    padding: 2px 2px 2px 4px !important;
}
.modal-footer-more .table {
    margin-bottom: 5px !important;
}
.btn-sm2 {
    line-height: 1 !important;
    padding: 2px 3px !important;
}
.btn-sm2-transparent {
    background-color: transparent !important;
    border: 0 none !important;
    line-height: 1 !important;
    margin-top: -5px !important;
    padding: 0 3px 2px !important;
}
.dashboard-inicio .table th, .dashboard-inicio .table td {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: -moz-use-text-color -moz-use-text-color #f1f4f9 !important;
    border-image: none !important;
    border-style: none none solid !important;
    border-width: 0 0 1px !important;
    color: #555;
    font-size: 12px !important;
    font-weight: normal !important;
}
.dashboard-inicio .table tr {
    padding: 5px 1px !important;
}
.dashboard-inicio .panel-title {
    font-size: 14px !important;
    font-weight: bold;
}
.dashboard-inicio .panel-danger > .panel-heading {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: #fff !important;
    border-color: -moz-use-text-color !important;
    border-image: none !important;
    border-style: solid none none !important;
    border-width: 5px 0 0 !important;
}
.dashboard-inicio .panel-success > .panel-heading {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: #fff !important;
    border-color: -moz-use-text-color !important;
    border-image: none !important;
    border-style: solid none none !important;
    border-width: 5px 0 0 !important;
}
.dashboard-inicio .panel-info > .panel-heading {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: #fff !important;
    border-color: -moz-use-text-color !important;
    border-image: none !important;
    border-style: solid none none !important;
    border-width: 5px 0 0 !important;
}
.dashboard-inicio .panel {
    border-radius: 0 0 4px 4px !important;
}
.dashboard-inicio .panel-heading {
    border-radius: 0 !important;
}
.dashboard-inicio .panel-body {
    padding-top: 3px !important;
}
.mostrar-todos-dashboard {
    cursor: pointer;
    font-size: 11px !important;
}
.foot-label-dashboard {
    color: #777 !important;
    text-align: right !important;
}
.foot-label-dashboard span {
    font-size: 10px !important;
}
.dashboard-inicio .panel-danger .foot-label-dashboard .total {
    color: #a94442 !important;
    font-size: 13px !important;
    font-weight: bold;
    margin-top: 0 !important;
}
.dashboard-inicio .panel-success .foot-label-dashboard .total {
    color: #3c763d !important;
    font-size: 13px !important;
    font-weight: bold;
    margin-top: 0 !important;
}
.fieldsetSearch {
}
.panel-body .form-group {
    margin-left: 10px !important;
}
li.active {
    font-weight: bold;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0 !important;
    padding-right: 12px !important;
}
.modal-dialog-large {
    width: 70% !important;
}
.modal-dialog-medium {
    width: 60% !important;
}
.panel-heading {
    font-size: 16px;
}
.tabs-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 10px 5px 5px;
}
.badge.danger {
    background-color: #d9534f !important;
}
.badge.success {
    background-color: #3c763d !important;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    border-radius: 0 6px 6px;
    left: 100%;
    margin-left: -1px;
    margin-top: -6px;
    top: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a::after {
    border-color: transparent transparent transparent #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}
.dropdown-submenu:hover > a::after {
    border-left-color: #ffffff;
}
.dropdown-submenu .pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}
.pointer {
    cursor: pointer;
}
#dialogModalContent.error {
    background-color: tomato;
    color: white;
    z-index: 9999;
}
#dialogModalContent.success {
    background-color: yellowgreen;
    color: white;
    z-index: 9999;
}
#dialogModalContent.alert {
    border: 3px solid rgb(231, 109, 2);
    color: #000;
    z-index: 9999;
}
#dialogModalContent.alert .modal-header {
    border-color: rgb(231, 109, 2) !important;
}
#dialogModalContent.alert .modal-footer {
    border-color: rgb(231, 109, 2) !important;
}
#dialogModalContent.alert #dialogModalHeader {
    margin-top: 25px !important;
}
#dialogModalContent.alert .modal-body {
    height: 300px !important;
}
#dialogModalCPF.alert {
    border: 3px solid rgb(231, 109, 2);
    color: #000;
    z-index: 9999;
}
#dialogModalCPF.alert .modal-header {
    border-color: rgb(231, 109, 2) !important;
}
#dialogModalCPF.alert .modal-footer {
    border-color: rgb(231, 109, 2) !important;
}
#dialogModalCPF.alert #dialogModalHeaderCPF {
    margin-top: 25px !important;
}
#dialogModalCPF.alert .modal-body {
    height: 300px !important;
}
#dialogModalCPF.alert #dialogModalLogo {
    background: rgba(0, 0, 0, 0) url("alert.png") repeat scroll 0 0 / 90px 90px;
    height: 90px;
    margin-left: -75px;
    margin-top: -85px;
    position: absolute;
    width: 90px;
    z-index: 9999;
}
#dialogModalContent.info {
    background-color: lightblue;
    color: white;
    z-index: 9999;
}
#dialogModalContent.error #dialogModalLogo {
    background: rgba(0, 0, 0, 0) url("warning.png") repeat scroll 0 0 / 90px 90px;
    height: 90px;
    margin-left: -50px;
    margin-top: -35px;
    position: absolute;
    width: 90px;
    z-index: 9999;
}
#dialogModalContent.alert #dialogModalLogo {
    background: rgba(0, 0, 0, 0) url("alert.png") repeat scroll 0 0 / 90px 90px;
    height: 90px;
    margin-left: -55px;
    margin-top: -55px;
    position: absolute;
    width: 90px;
    z-index: 9999;
}
#dialogModalContent.success #dialogModalLogo {
    background: rgba(0, 0, 0, 0) url("success.png") repeat scroll 0 0 / 90px 90px;
    height: 90px;
    margin-left: -50px;
    margin-top: -35px;
    position: absolute;
    width: 90px;
    z-index: 9999;
}
#dialogModalContent.info #dialogModalLogo {
    background: rgba(0, 0, 0, 0) url("information.png") repeat scroll 0 0 / 90px 90px;
    height: 90px;
    margin-left: -50px;
    margin-top: -35px;
    position: absolute;
    width: 90px;
    z-index: 9999;
}
#dialogModalHeader {
    margin-left: 35px;
    position: absolute;
}
#containerMessage.alert-danger {
    background: #f2dede url("warning.png") no-repeat scroll 15px 15px / 30px 30px;
}
#containerMessage.alert-success {
    background: #dff0d8 url("success.png") no-repeat scroll 15px 15px / 30px 30px;
}
input.input-sm[type="radio"] {
    height: 10px !important;
    margin: 8px 4px 0 0 !important;
}
input[type="radio"] {
    margin-right: 4px !important;
    margin-top: 2px !important;
}
.div-abas-contrato {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}
.table td {
    font-size: 12px !important;
}
.col-sm-2.minus-espace {
    width: 12% !important;
}
.col-sm-1.minus-espace {
    width: 8% !important;
}
.col-sm-1 .input-sm {
    min-width: 80px !important;
}
.col-sm-2 .input-sm {
    min-width: 100px !important;
}
#topo {
    color: rgb(57, 91, 124);
}
.displayButton {
    display: block !important;
}
.required {
    color: #961500;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 700;
}
#footer {
    background-color: #be1d2c;
    border-top: 1px solid rgb(201, 211, 221);
    color: #fff;
    margin-top: 10px !important;
    text-align: center;
}
#menuBarContainer {
    height: 25px;
    width: 99.5%;
}
#localizacao {
    font-size: 12px;
}
#div-form {
    width: 100%;
}
.div-form {
    background-color: #fff;
    border: 1px solid rgb(201, 211, 221);
    margin: 0;
    padding: 10px;
}
.breadcrumb {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.input, form input[type="text"], form textarea {
    font-size: 12px !important;
}
form select {
}
.lower {
    text-transform: lowercase !important;
}
.normal {
    text-transform: none !important;
}
.label {
    font-family: Arial,Trebuchet MS,Lucida Sans Unicode,sans-serif !important;
    font-size: 0.8em !important;
}
label {
    padding-top: 7px;
}
.bold {
    font-weight: bold;
}
.noBold {
    font-weight: normal !important;
}
#action-bar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #be1d2c;
    display: block;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 8px 15px;
    width: 100%;
}
#message-action-bar {
    display: block;
    margin: 0 12px 5px;
}
.alert {
    margin-bottom: 10px !important;
}
.search18 {
    background-image: url("../images/search.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    height: 18px;
    margin-left: 2px;
    width: 20px;
}
.mail {
    background-image: url("../images/send-mail.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    display: none;
    font-family: arial !important;
    font-size: 12px !important;
    height: 25px;
    margin-left: 2px;
    padding-left: 18px;
    width: 80px;
}
.btnReport {
    background-image: url("../images/icon-report.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    font-family: arial !important;
    font-size: 12px !important;
    height: 25px;
    margin-left: 2px;
    min-width: 80px;
    padding-left: 20px;
}
.btnQuitarTodas {
    background-image: url("../images/icon-money.png") !important;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 25px;
    margin-left: 2px;
    min-width: 25px;
    padding-left: 10px;
}
.btnFechar {
    background-image: url("../images/exit-icon.gif") !important;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 25px;
    margin-left: 2px;
    min-width: 25px;
    padding-left: 10px;
}
.btnCadastrarModal {
    cursor: pointer;
}
.btnXLS {
    background-image: url("../images/icon-excel.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 25px;
    margin-left: 2px;
    padding-left: 15px;
    width: 80px;
}
.removerSmall {
    background-color: transparent;
    background-image: url("../images/delete.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 16px;
    margin-left: 2px;
    opacity: 0.4;
    width: 16px;
}
.configSmall {
    background-color: transparent;
    background-image: url("../images/icon-config-small.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 16px;
    margin-left: 2px;
    opacity: 0.4;
    width: 16px;
}
.removerSmall:hover {
    opacity: 1;
}
.configSmall:hover {
    opacity: 1;
}
.removerSmall:focus {
    background-color: transparent;
    border: 0 none !important;
}
.configSmall:focus {
    background-color: transparent;
    border: 0 none !important;
}
.btnUp {
    background-image: url("../images/arrow_up.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 25px;
    margin-left: 2px;
    padding-left: 15px;
    width: 22px;
}
.btnDown {
    background-image: url("../images/arrow_down.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 25px;
    margin-left: 2px;
    padding-left: 15px;
    width: 22px;
}
.btnNext {
}
.find-advanced {
    background-image: url("../images/icon-search-advanced.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    display: none;
    font-family: arial !important;
    font-size: 12px !important;
    height: 25px;
    margin-left: 2px;
    padding-left: 20px;
    width: 90px;
}
.btnDisabled {
    opacity: 0.5;
}
.left {
    float: left;
}
.right {
    float: right;
}
.retornarCadastro {
    background-image: url("../images/icon-back.png");
    background-position: 3px 0;
    background-repeat: no-repeat;
    color: #000000;
    cursor: pointer;
    margin-left: 2px;
    padding-left: 25px;
    text-decoration: none;
}
.msg {
    clear: both;
    margin: 0;
    min-height: 25px;
    padding: 0;
    position: relative;
    top: -3px;
}
.msg p {
    background-position: 10px 5px;
    background-repeat: no-repeat;
    font-size: 14px;
    margin: 0;
    padding: 7px 15px 7px 35px;
}
.msg a.close {
    background: rgba(0, 0, 0, 0) url("../images/close_icon.png") repeat scroll 0 0;
    cursor: pointer;
    font-size: 0;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}
.hide {
    display: none;
}
.dataTables_paginate {
    margin-top: 10px;
    text-align: center;
}
.dataTables_paginate .paginate_button {
    background-color: rgb(226, 231, 237);
    border: 1px solid rgb(191, 207, 218);
    color: rgb(0, 136, 204) !important;
    cursor: pointer;
    margin: 1px;
    padding: 6px 8px;
}
.dataTables_paginate .paginate_active {
    border: 1px solid rgb(191, 207, 218);
    margin: 1px;
    padding: 6px 8px;
}
.dataTables_paginate .paginate_button_disabled {
    display: none;
}
.bs-table {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding: 15px 15px 0;
}
.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 0 0 4px 4px;
    padding: 9px 14px;
}
.grid-groupBy {
    background-color: #be1d2c;
    color: #fff;
}
.grid-groupBy:hover > th, .grid-groupBy:hover > td {
    background-color: #be1d2c !important;
    color: #fff !important;
}
.rowDestaqueGrid {
    background-color: #fef09b !important;
}
table.stylized caption {
    font-size: 11px;
    margin-bottom: 1em;
    text-align: left;
    text-transform: uppercase;
}
table.no-style th, table.no-style td {
    line-height: 18px;
    padding: 4px 8px 4px 0;
}
table.no-style td, table.no-style th {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-bottom: 1px dotted #ddd !important;
    color: #666;
}
table.no-style caption {
    margin-bottom: 0;
    text-align: left;
}
td.legendLabel {
    font-size: 11px !important;
    padding: 0 4px;
    vertical-align: middle;
}
table.display {
    clear: both;
    margin: 4px auto;
    width: 100%;
}
.gerar-contrato {
    background-image: url("../images/documento.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border: 0 solid #fff;
    color: rgb(0, 136, 204);
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 3px;
    padding-left: 20px;
}
.editGrid {
    display: inline-block;
}
.delGrid {
    display: inline-block;
    margin-left: 2px;
}
.calendarioGrid {
    background-image: url("../images/icon-calendario.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border: 0 solid #fff;
    color: rgb(0, 136, 204);
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 3px;
    padding-left: 17px;
}
.tabs-container {
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 1em 8px;
}
.tabs-container2 {
    border-top: 2px solid #ddd;
    padding: 1em 8px;
}
.ac_results {
    background-color: #fff;
    border: 1px solid #000;
    overflow: hidden;
    padding: 0;
    z-index: 99999;
}
.ac_results ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ac_results li {
    cursor: default;
    display: block;
    font: ;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 2px 5px;
}
.ac_loading {
    background: #fff url("indicator.gif") no-repeat scroll right center;
}
.ac_odd {
    background-color: #eee;
}
.ac_over {
    background-color: #0a246a;
    color: #fff;
}
.clear, .contaba {
    clear: both;
}
textarea, .no-transform {
    text-transform: none !important;
}
.msg-ok p, .success p {
    background-color: #fffac2;
    background-image: url("../images/msg-ok.gif");
    border: 1px solid #dbd6a2;
    color: #5e5c40;
}
.has-error.help-block, .has-error.control-label, .has-error.radio, .has-error.checkbox, .has-error.radio-inline, .has-error.checkbox-inline {
    color: #a94442;
}
.msg-notice p {
    background-color: #fef0b1;
    background-image: url("../images/alert.png");
    background-position: 3px 2px;
    background-repeat: no-repeat;
    border: 1px solid #ddca76;
    color: #555;
    font-family: verdana;
    font-size: 13px;
    font-weight: bold;
}
.div-atention {
    border: 2px solid #da4b4b;
    padding: 10px;
}
#tableAdicionarComum {
    width: 100%;
}
#tableAdicionarComum td {
    text-align: center;
}
#tableAdicionarDiversificada {
    width: 100%;
}
#tableAdicionarDiversificada td {
    text-align: center;
}
.dica {
    background-color: #fffac2;
    background-image: url("../images/information.gif");
    background-position: 3px 3px;
    background-repeat: no-repeat;
    border: 1px solid #ffc5a0;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 25px;
}
.observacao {
    background-image: url("../images/73.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.fieldInformacoesGrafico .field {
    font-weight: bold;
}
.cadastroModuloExterno {
    color: rgb(112, 146, 64);
    cursor: pointer;
    text-decoration: underline;
}
#tblTransferencia {
    font-size: 11px;
}
#tblTransferencia input[type="text"], #tblTransferencia select {
    font-size: 11px !important;
}
.time {
    width: 35px;
}
.btnDestrancar {
    background-image: url("../images/destrancar.gif");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    height: 20px;
    margin-bottom: 1px;
    margin-left: 5px;
    padding-left: 15px;
    width: 20px;
}
.btnTrancar {
    background-image: url("../images/trancar.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    height: 20px;
    margin-bottom: 1px;
    margin-left: 5px;
    padding-left: 15px;
    width: 20px;
}
.imgHelpField {
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    top: -2px;
}
.imgHelpField:hover {
    opacity: 1;
}
.setaHistorico {
    background-image: url("../images/seta-historico.png");
    background-repeat: no-repeat;
    height: 25px;
    padding-left: 29px;
    padding-top: 10px;
    width: 29px;
}
.div-itemAcesso {
    font-size: 11.5px;
    padding: 3px;
}
.div-itemAcesso:hover {
    background: #aaaaaa none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
}
.tituloacesso {
    background: rgba(0, 0, 0, 0) url("../images/strip_title_form.bmp") repeat-x scroll 0 0;
    color: #fff;
    font-family: arial,tahoma,verdana;
    font-size: 13px;
    font-weight: 700;
    margin: 3px 0;
    padding: 6px 5px 5px;
}
.boldRowGrid {
    font-weight: bold !important;
}
.fieldModificado {
    background: rgb(226, 243, 190) none repeat scroll 0 0;
}
.adicionarSmall {
    background-color: transparent;
    background-image: url("../images/icon-add.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 18px;
    margin-left: 2px;
    opacity: 0.4;
    width: 18px;
}
.adicionarSmall:hover {
    opacity: 1;
}
.adicionarSmall:focus {
    background-color: transparent;
    border: 0 none !important;
}
.scroll-busca-menu {
    border-right: 1px solid #222 !important;
    max-height: 278px !important;
    width: 698px !important;
}
.horizontal-only {
    height: auto;
    max-height: 300px;
}
#carregandoBusca {
    border: 1px solid #bbbbbb;
    display: none;
    height: 22px;
    width: 22px;
}
#busca-menu {
    display: none;
    margin-top: 3px;
    max-height: 90%;
    max-width: 90%;
    overflow: hidden;
    position: absolute;
    right: 10px;
    z-index: 1;
}
.overListaMenuBusca:hover {
    background-color: rgb(0, 108, 175);
    border: 1px solid rgb(202, 212, 221);
    color: #f1f1f1;
    cursor: pointer;
    margin-right: 2px;
    margin-top: 2px;
    padding-left: 25px;
    padding-right: 3px;
}
#conteudo-busca-menu {
    height: 280px !important;
    width: 700px !important;
}
#separator-after-inputBuscaMenu {
    color: #bbbbbb;
    font-size: large;
    margin-left: 5px;
    margin-right: 3px;
}
.linkPadrao {
    color: rgb(0, 136, 204);
    margin-left: 10px;
    text-decoration: none;
}
#tblAgendaAcoes input[type="text"] {
    font-size: 11px !important;
    padding: 2px;
}
#tblAgendaAcoes select {
    font-size: 11px !important;
    padding: 2px;
}
#tblAgendaAcoes select:focus {
    color: #000;
    font-size: 11px !important;
}
#tblAgendaAcoes td {
    font-size: 11px !important;
}
.changeColor:hover td {
    background-color: rgb(255, 255, 204) !important;
    color: rgb(0, 136, 204) !important;
}
.quadro-painel-informativo {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    float: left;
    margin: 3px;
    min-height: 150px;
    padding-top: 10px;
    width: 100%;
}
.ui-datepicker-calendar .Highlighted {
    background: #0044cc none repeat scroll 0 0;
    border-color: #006;
    color: white;
}
#ui-datepicker-div {
    display: none !important;
}
.replicarContrato {
    cursor: pointer;
    opacity: 0.7;
}
.replicarContrato:hover {
    opacity: 1;
}
.ajuda-passo-a-passo {
    color: #395b7c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
}
.passo-a-passo .ui-state-default, .passo-a-passo .ui-widget-content .ui-state-default, .passo-a-passo .ui-widget-header .ui-state-default {
    background: #ecf0f1 none repeat scroll 0 0;
    color: #7f8c8d;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    outline: medium none;
    padding: 0 15px;
    text-decoration: none;
}
.passo-a-passo .ui-state-active, .passo-a-passo .ui-widget-content .ui-state-active, .passo-a-passo .ui-widget-header .ui-state-active {
    background: #27ae60 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    outline: medium none;
    padding: 0 15px;
    text-decoration: none;
}
.responderComentario {
    background-image: url("../images/list-icon.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border: 0 solid #fff;
    color: rgb(0, 136, 204);
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 3px;
    padding-left: 19px;
}

.panel-title {
    font-weight: bold;
}
#grid tr:hover > td {
    background-color: #444 !important;
    color: #fff !important;
}
