﻿@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@font-face {
    font-family: 'bell_mtbold';
    src: url('fonts/bellb-webfont.eot');
    src: url('fonts/bellb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bellb-webfont.woff2') format('woff2'),
         url('fonts/bellb-webfont.woff') format('woff'),
         url('fonts/bellb-webfont.ttf') format('truetype'),
         url('fonts/bellb-webfont.svg#bell_mtbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bell_mtitalic';
    src: url('fonts/belli-webfont.eot');	
    src: url('fonts/belli-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/belli-webfont.woff2') format('woff2'),
         url('fonts/belli-webfont.woff') format('woff'),
         url('fonts/belli-webfont.ttf') format('truetype'),
         url('fonts/belli-webfont.svg#bell_mtitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'academia_ssiregular';
    src: url('font/academia/academia_ssi-webfont.eot');
    src: url('font/academia/academia_ssi-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/academia/academia_ssi-webfont.woff2') format('woff2'),
         url('font/academia/academia_ssi-webfont.woff') format('woff'),
         url('font/academia/academia_ssi-webfont.ttf') format('truetype'),
         url('font/academia/academia_ssi-webfont.svg#academia_ssiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background:#fffff;
}

#container{
      float: left;
      width: 100%
}
#principal{
	width:70,27818448023426%;
	background:#1a1a1a;
	margin:0 auto;
    padding: 0% 0;
}
#principal2{
	width:70%
}
#header{
	background-color:#FFFFFF;
	width:100%;
	float:left;
}
#logo{
        float:left; 
	width:26.256564141%;
        min-width: 320px;
	height:51px;
        font-size:0;
	
        background-size: 100% auto;
}
#topInfo{
	
        
        width: 26,04166666666667%;
        heigth: 70,5%;
	float:right;
	font-size:12pt;
	padding-top:30px;
	font-family:Arial, Helvetica, sans-serif;
left: 1000px;
        
}
#lineRed{
	width:100%;
	height:4px;
	float:left;
	background:#990000;
}
#lineWhite{
	width:100%;
	height:3px;
	float:left;
	background:#FFFFFF;
}
#contentHeader{
	width:100%;
	height:auto;
	float:left;
	background:#1a1a1a;
}

#nomeNoivos{
	width:70%;
	height:auto;
	float:left;
	color:#FFFFFF;
	text-align:center;
	font-family:'bell_mtbold';
	font-size:35pt;
	padding-top:45px;
}
#contador{
	width:26,04166666666667%;
	height:auto;
	float:right;
	color:#FFFFFF;
	font-family:'academia_ssiregular';
	font-size:18pt;
	text-align:center;
	padding-top:50px;
	
	
}
#diasRestantes{
	width:100%;
	height:50px;
	float:left;
	background:url('img/4.png') no-repeat 50%;
	background-size:100%;
	color:#1a1a1a;
	text-align:center;
	font-family: 'academia_ssiregular';
}

#menu{
	width:100%;
	float:left;
	color:#FFFFFF;
	background:#1a1a1a;
	text-align:center;
}
#btnMenu{
	width:25%;
	min-width:320px;
	float:left;
	/*border-left:2px #ffffff solid;*/
	color:#FFFFFF;
	text-align:center;
	padding-top:7px;
	font-family:"Arial Black";
	font-size:12px;
	position:relative;
	margin:0 auto;
}
#btnMenu:hover{
	background:#990000;
}

.activate{
	background:#990000;
}
#conteudo{
	width:100%;
	float:left;
	background:url('img/5.png');
	background-size:100%;
	background-attachment:fixed;
}
#conteudoNoivos{
	width:78%;
	height:90%;
	float:left;
	background:url('img/fundo branco.png');
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	background-size:100% 100%;
	padding:20px;
	font-family: 'Dancing Script', cursive;
	font-size:15pt;
}
#sideSpace{
	width:10%;
	height:90%;
	float:left;
	margin-top:20px;
}
#footer{
	width:100%;
	background:#1a1a1a;
	float:left;
}
#col1{
	width:33.33%;
	float:left;
	min-width:250px;
}
#col2{
	width:33.336%;
	min-width:320px;
	float:left;
}
#col3{
	width:33.336%;
	float:left;
	color:#FFFFFF;
	text-align:center;
	font-family:Arial;
	min-width:320px;
}
li, a{
	color:#ffffff;
	font-family:"Arial Black";
	font-size:15px;
	text-decoration:none;
	padding-top:10px;
	transition:display 1s;
	-webkit-transition:display 1s;
	-o-transition:display 1s;
	-ms-transition:display 1s;
	-moz-transition:display 1s;
}

ul{
	padding-top:20px;
}
a:hover{
	text-decoration:underline;
	color:#eeeeee;
}
.footer{
	width:100%;
	height:45px;
	float:left;
	color:#ffffff;
	text-align:center;
	font-family:"Arial Black";
	font-size:10px;
	padding-top:10px;
}
iframe{
	
}
#tablePrincipal{
	width:100%;
	text-align:center;
	float:left;
}
#table{
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin:3.75%;
}
#intern{
	width:24.5056264066%;
	min-width:290px;
	float:left;
	margin:2px;
}
#imgPromo{
	width:100%;
	height:200px;
	float:left;
}
#titlePromo{
	width:100%;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
#originalPrice{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	font-size:11pt;
	color:#999999;
	text-decoration:line-through;
	float:left;
}
#promoPrice{
	width:100%;
	color:#990000;
	font-size:18pt;
	text-align:center;
}
#dias{
	width:100%;
	padding-top:10px;
	text-align:center;
	color:#000099;
	font-size:10pt;
	float:left;
}
.button{
	padding:10px;
	border:2px #ffffff solid;
	border-radius:20px;
	color:#FFFFFF;
	font-family:"Arial Black";
	background-color:#990000; 
	text-align:center;      
}
#cotasBg{
	width:100%;
	float:left;
	text-align:center;
}
#cotasPrincipal{
	width:240px;
	float:left;
	text-align:center;
	margin:5px;
}
#imgCota{
	width:100%;
	float:left;
}
#titleCota{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	float:left;
}
#priceCota{
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	float:left;
}
.button:hover{
	background:#660000;
}
.fb-page{
	margin-left:15px;
}
form{	
	text-align:left
}
input{
	padding:10px;
	border:2px #1a1a1a solid;
	border-radius:5px;
	margin:15px;
	width:80%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
}
textarea{
	margin:15px;
	width:80%;
	border:2px #1a1a1a solid;
	padding:10px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
}
.text{
	width:50%;
	float:right;
}

.trs {-webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;}	
#slider {position: relative; z-index: 1;}
#slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);width:100%;}
.ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}
 
/*controladores*/
span {background: #990000; cursor: pointer; opacity: 0;filter:alpha(opacity=0); position: absolute; bottom: 40%; width: 43px; height: 43px; z-index: 5;}
.next {right: 10px;}
.next:before,.next:after {left: 21px;}
.next:before {
    -webkit-transform: rotate(-42deg);
    top: 5px;
}
.next:after {
    -webkit-transform: rotate(-132deg);
    top: 19px;
}
.next:before,.next:after,.prev:before,.prev:after {content: "";
    height: 20px;
    background: #fff;
    width: 1px;
    position: absolute;
}
.prev {left: 10px;}
.prev:before,.prev:after {left: 18px;}
.prev:before {
    -webkit-transform: rotate(42deg);
    top: 5px;
}
.prev:after {
    -webkit-transform: rotate(132deg);
    top: 19px;
}
 
figure:hover span {opacity: 0.76;filter:alpha(opacity=76);}
    figure {
    max-width: 95%;
    height: 325px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
}

.pagination strong{
   padding: 3px;
   margin: 3px;
   min-width: 50px;
   height: 50px;
   background-color: #0000FF; 
}

.pagination > a{
   margin: 3px;
   padding: 3px;
   min-width: 50px;
   height: 50px;
   background-color: #0088cc;
}