        <header id="header">
            <span class="logo"><a href="index.php">Cooperativa Recanto de Flores</a></span>
            <ul class="tools-nav tools-nav-mobile">
                <li class="items"><a href="carrinho.php"><span>2</span> Items, <strong>$599.00</strong></a></li>
                <li class="login"><a href="#">Login</a> / <a href="#">registro</a></li>
            </ul>
            <a class="menu_trigger" href="#">menu</a>
            <div class="bar-holder">
                <nav id="nav">
                    <ul>
                        <li><a href="produtos.php">Rosas</a></li>
                        <li><a href="produtos.php">Asters</a></li>
                        <li><a href="produtos.php">Crisantemo</a></li>
                        <li><a href="produtos.php">Outras</a></li>
                    </ul>
                </nav>
                <ul class="tools-nav">
                    <li class="items"><a href="carrinho.php"><span>2</span> Items, 
                            <strong>$599.00</strong></a></li>
                    <li class="login"><a href="#">Login</a> / <a href="#">register</a></li>
                </ul>
            </div>
        </header>
