    <div class="slide-holder">
        <div class="slide-info">
            <h1>Cooperativismo para um bem comum</h1>
            <p>Flores de diversos tipos em uma cooperativa feita satisfazer os pedidos do seu negócio</p>
            <a class="btn white big" href="produtos.php">Veja nossos produtos</a>
        </div>
    </div>    