        <footer id="footer">
            <div class="footer-holder">
                <div class="footer-frame">
                    <div class="footer-content">
                        <div class="col-holder">
                            <div class="col">
                                <div class="heading">
                                    <h3>Criado Por:</h3>
                                </div>
                                <p>Trabalho Tcc Desenvolvimento:</p>
                                <p>Douglas Álex Américo</p>
                                <p>Tecnologia em Analise e Desenvolvimento de Sistemas</p>
                                <p>faculdade Integrado de Campo Mourão</p>
                            </div>
                            <div class="col">
                                <div class="heading">
                                    <h3>Contato</h3>
                                </div>
                                <address>
                                    <p><strong>Cooperativa Recanto de Flores</strong></p>
                                    <p>Araruna, Paraná, Brasil</p>
                                    <p>Sitio</p>
                                </address>
                                <address>
                                    Santa Ana:
                                    <br/> (44)9948 2146  (44)9971 9428
                                </address>
                                <address>
                                    Catiane:
                                    <br/>
                                </address>
                                <address>                                        
                                    Maria Rosa: 
                                    <br/>
                                </address>
                                <address>
                                    Aparecida: 
                                    <br/>
                                </address>
                                <address>
                                    <p><a href="mailto:suporterecantoflores@gmail.com.br">
                                            suporterecantoflores@gmail.com.br</a></p>
                                </address>
                            </div>
                            <div class="col col-contact">
                                <div class="heading">
                                    <h3>SOCIAIS</h3>
                                </div>
                                <ul class="social">
                                    <li class="facebook"><a href="http://facebook.com/lugarNenhum">Facebook</a></li>
                                    <li class="google"><a href="http://plus.google.com/lugarNenhum">Google+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
